database:
    type = "mysql"
    name = "database"
    user = "root"
    pass = ""
    host = "127.0.0.1"

application:
    debug = false
    default_lang = "cs"
    base_path = "/"
    login_redirect = "/login"
    page_404 = "/404"
    page_500 = "/500"
    cache_dir = "/cache"
    upload_dir = "/upload"
    db_config_table = "config"
    db_config_key = "dkey"
    db_config_value = "dval"
    consolidate_scripts = true
    consolidate_scripts_caching = true

mailer:
    use_smtp = false
    smtp_hots = ""
    smtp_use_auth = false
    smtp_user = ""
    smtp_pass = ""

services_overide:

modules:

actions:
