all:
   before_hook_execute:
   after_hook_execute:

application:
    on_create:
    on_start:
    on_exit:
    on_error:

service:
    on_create:
    on_get:

database:
    on_connect:
    on_query:

config:
    on_create:
    on_get:
    on_set:

modules:
    on_create:
    on_install:
    on_remove:

lang:
    on_create:
    on_get:

mailer:
    on_create:
    on_multiple:
    before_send:
    on_send:
    on_send_ok:
    on_send_err:
    after_send:

presenters:
    on_create:
    on_post_construct:
    on_display:

forms:
    on_create:
    on_process:

session:
    on_start:
    on_close: